<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/builder.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoccerLAB</title>
</head>
<body>
    <!-- <video autoplay muted loop id="myVideo">
        <source src="../assets/img/bgVid.mp4" type="video/mp4">
      </video> -->
    <nav>
        <a>LOGO</a>
        <div class="navRest">
            <a href="build.html">Builder</a>
            <a href="players.html">Players</a>
            <a href="formations.html">Formations</a>
        </div>
    </nav>
    <main id="buildMain">

        <div id="Field">
            <div class="field">
                <div class='grass'>
                </div>
                <div class='fieldLayout'>
                  <hr id='fieldborder'>
                  <hr id='goalBox1'>
                  <hr id='goalBox2'>
                  <span id='midCircle'></span>
                  <hr id='midLine'>
                </div>
                <div id="fieldOutline">

                </div>
              </div>
        </div>
        <div class="leftSide">
            <div class="tofix">
                <label>FORMATION</label>
                <div id="formationCount">
                    0-0-0
                </div>
            </div>
            <div id="playertable">
            </div>
        </div>

    </main>
</body>
<script src="../assets/js/builder.js"></script>
</html>