<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoccerLAB</title>
</head>
<body>
    <nav>
        <a>LOGO</a>
        <div class="navRest">
            <a href="build">Builder</a>
            <a href="players">Players</a>
            <a href="formations">Formations</a>
        </div>
    </nav>
    <main id="buildMain">
        <div id="Field">

        </div>

        <div id="playertable">
        </div>
    </main>
</body>
<script src="../assets/js/builder.js"></script>
</html>