<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoccerLAB</title>
</head>
<body>
    <nav>
        <a>LOGO</a>
        <div class="navRest">
            <a href="build.html">Builder</a>
            <a href="players.html">Players</a>
            <a href="formations.html">Formations</a>
        </div>
    </nav>
    <main>

    </main>
</body>
    <footer>

    </footer>
</html>